@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    If you encounter any problems with the website or with the courses' results given please contact us immediately on the below email:
    </br><strong>Support:</strong>   <a href="mailto:contact@tcfm.com">contact@tcfm.com</a><br />
</address>