@{
    ViewBag.Title = "Courses";
}

@using CourseHelper.External.Models;
@model IEnumerable<CourseHelper.External.Models.Course>
<h2>Course List</h2>
<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Attendance</th>
        <th>Duration</th>
    </tr>
    @for (int i = 0; i < 20; i ++)
        //CourseHelper.External.Models.Course item in Model)
    {
        var item = Model.ToList()[20];
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attendance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
        </tr>
    }
</table>  