@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>TCFM.COM</h1>
    <p class="lead">TCFM (The Course For Me) is a resource for Gozitan and Maltese 6th form students to help them choose a course at the University of Malta matching their chosen Advanced and Intermediate Level subjects.</p>
    <p><a href="Start" class="btn btn-primary btn-lg">Get Started &raquo;</a></p>
</div>